@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* 0-CSS para todo el HTML */

:root {

    --familia-fuente-principal: "Gilda Display", serif;
    --bg-header: rgb(0, 0, 0, .8);
}

body {
    font-family: var(--familia-fuente-principal);

    header,
    footer {
        background-color: var(--bg-header);
    }
}

.separador {
    height: 10px;
    background-color: whitesmoke;
}

header,
main,
footer {
    .fa-whatsapp {
        color: #25d366;
        font-size: 3em;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}

h1 {
    text-align: center;
    color: whitesmoke;
}

.sectionPrincipalIndex {
    background-image: url(../assets/img/Gemini_Generated_Image_ic5ntjic5ntjic5n.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.textoPrincipalDelMain {
    color: gray;
}

.nuestrasMarcas,
.nuestrosClientes {
    img {
        box-shadow: 10px 5px 10px black;
    }
}

.texto-justificado {
    text-align: justify;
}

.nosotros {
    img {
        height: 300px;
        width: 300px;
    }
}

/* Contenedor del formulario */
.form {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    font-family: var(--familia-fuente-principal);
}

/* Etiquetas de los campos */
.label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555555;
}

/* Campos de entrada */

.input[type="text"],
.input[type="email"],
.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
    background-color: #fafafa;
    transition: border-color 0.3s;
}

.input[type="text"]:focus,
.input[type="email"]:focus,
.textarea:focus {
    border-color: #3498db;
    outline: none;
}

/* Botón de envío */
.button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button[type="submit"]:hover {
    background-color: #2980b9;
}